@tailwind base;
@tailwind components;
@tailwind utilities;


body {overscroll-behavior:none}



#snipcart .snipcart__font--secondary {
    @apply font-text;
    @apply text-stone-900;
    @apply leading-3;
    font-weight:normal;
    @apply text-lg;
}

.snipcart__font--tiny {
    @apply font-subhed;
    @apply uppercase;
        @apply text-stone-900;
}

.snipcart .snipcart-modal {
    @apply pt-16;
}

#snipcart .snipcart-cart-button--highlight {
    background-image:none;
    @apply bg-yellow-900;
    @apply rounded-full;
    @apply text-stone-100;
    @apply uppercase;
    @apply font-subhed;
}

.snipcart .snipcart-cart-button__icon {display:none;}


.snipcart .snipcart__actions--link{
    @apply text-yellow-900;
}
    
div#theFooter .block-img {
    @apply w-1/4;
    @apply float-left;
}


.exthtml p {@apply mb-3;}

.exthtml strong {@apply font-bold; }

.exthtml iframe {@apply w-full; @apply h-[50vh]; }

.exthtml ul {@apply list-disc;}
.exthtml ol {@apply list-decimal;}

.exthtml a {@apply text-yellow-900;@apply hover:underline;}



